/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-feature-settings: 'salt' on, 'liga' off;
}

html{
  scroll-behavior: smooth;
}


/* #navbar::before{
  content: "";
  background-color: rgb(230, 218, 218);
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.7;
} */

.nav-items{
  text-align: center;
  margin-left: 300px;
  cursor: pointer;
}


.logo-brand{
  position: relative;
  top: 28px;
  margin-left: 70px;
}

.logo-img{
  height: 59px;
  margin: 3px 6px;
  float: left;
}

.brand-name{
  display: inline-block;
  position: relative;
  margin-top: 2%;
  left: 1%;
  font-size: x-large;
}



/* ////////////// Navigation Bar ///////// */

#navbar ul{
  display: flex;
  font-family: 'Inter','Baloo Bhai', cursive;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: black;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}


.navbar-right-items{
  float: right;
  position: relative;
  right: 0;
  top: 0;
}

.navbar-right-items img{
  height: 48px;
  margin-top: -35px;
  margin-right: 28px;
}


/*////////////////// Home Section ///////////////*/

#home{
  display: flex;
  flex-direction: row;
  padding:3px 200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#home::before{ 
  content: "";
  position: absolute;
  background: url('images/Background.png') no-repeat center center/cover;
  height: 100vh;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
}

#home .home-text h1{
  color:black;
  font-family: 'Inter','Bree Serif', serif;
  font-weight: bold;
  font-size: 3rem;
}

.home-text{
  position: absolute;
  top: 35%;
  width: 625px;
}

.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: #8C30F5;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor:pointer;

  position: absolute;
  right: 70%;
  width: 180px;
}

.home-mobile-image{
  position: relative;
  right: -80%;
  top: -5%;
  margin-right: 0px;
}

.home-mobile-image img{
  height: 500px;
  width: 280px;
  margin-right: -100px;
}


/* ///////////////Logo Cloud Section///////////////// */
#logoCloud{
  margin-bottom: 80px;
  margin-top: -20px;
}


.icons-slider{
  max-width: 1200px;
  margin: auto;
}

.icons-slider .slick-slide{
  margin: 15px;
}


.sliderImg{
  width: 50%;
}


.icons-slider{
  padding-left: 65px;
}


/* ///////////////// Services Section /////////////////*/

#services
{
  display: flex;
  height: 100vh;
}

#services .h-primary{
  color:black;
  font-family: 'Inter','Bree Serif', serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.row{
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.services-item{
  height: 230px;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}


.services-item h5{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  
}

.para{
  margin-top: 5px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #18191F;
  font-weight: 400;
  margin-bottom: 2rem;
}


/* ///////////// Clients Section /////////// */

#client-section{ 
  position: relative;
  height: 135vh;
  background-color: #D5FAFC;
}

#client-section img{ 
position: absolute;
left: 10%;
top: 4%;
}

#client-section h2{ 
  position: absolute;
  left: 17%;
  top: 11%;
  font-size: 45px;
  font-weight: 800;
  line-height: 64px;
}

#client-section p{ 
  position: absolute;
  left: 17%;
  top: 25%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: black;
}

.hubspot{
  position: relative;
  top: 30%;
  left: 20%;
  height: 380px;
  width: 350px;
  padding: 32px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.hubspot .first-img{
  width: 140px;
  height: 40px;
}

.hubspot .second-img{
  height: 14px;
  width: 15.929831504821777px;
  margin-top: 58px;
}


.hubspot-para{
  position: relative;
  top: 10%;
  left: -4%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #18191F;
}

.hubspot h4{
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #18191F;
  position: relative;
  top: 80%;
  left: 12%;
}

.hubspot-last-para{
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #969BAB !important;
  margin-top: 255px;
  margin-left: 5px;
}

/* ========= Airbnb ======== */

.airbnb{
  position: relative;
  top: -28%;
  left: 54%;
  height: 250px;
  width: 445px;
  padding: 32px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.airbnb .first-img{
  height: 40.026859283447266px;
  width: 129.58387756347656px;
  left: -0.0267181396484375px;
  margin-top: 10px;
}

.airbnb .second-img{
  height: 14px;
  width: 15.929831504821777px;
  margin-top: 65px;
}


.airbnb-para{
  position: relative;
  top: 20%;
  left: -4%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #18191F;
}

.airbnb h4{
  font-size: 18px;
  font-weight: 700;

  font-weight: bold;
  color: #18191F;
  position: relative;
  top: 80%;
  left: 12%;
}

.airbnb-last-para{
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #969BAB !important;
  margin-top: 180px;
}




/* ========= BookmyShow ======== */

.bookmyshow{
  position: relative;
  top: -25%;
  left: 54%;
  height: 200px;
  width: 350px;
  padding: 32px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.bookmyshow .first-img{
  height: 40.026859283447266px;
  width: 129.58387756347656px;
  left: -0.0267181396484375px;
  margin-top: 12px;
}

.bookmyshow .second-img{
  height: 14px;
  width: 15.929831504821777px;
  margin-top: 78px;
}


.bookmyshow-para{
  position: relative;
  top: 25%;
  left: -5%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #18191F;
}

.bookmyshow h4{
  font-size: 18px;
  font-weight: 700;

  font-weight: bold;
  color: #18191F;
  position: relative;
  top: 75%;
  left: 12%;
}

.bookmyshow-last-para{
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #969BAB !important;
  margin-top: 140px;
}





/* //////////////// lastsection Section //////////////// */

#lastsection{
  position: relative;
  height: 130vh;
}

.lastsection-row{
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left{
  height: 250px;
  width: 37%;
  margin-left: 10%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.left h2{
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
}

.left p{
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: black !important;
}

.right{
  height: 250px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right .row-lastsection{
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lastsection-first-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 250px;
  margin-right: auto;
}

.lastsection-second-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 200px;
}

.lastsection-non-img{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 20px;
}

.lastsection-non-img p{
  font-size: .9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
  margin-top: 5px;
  margin-bottom: 2rem;
}


.lastsection-part2{
  height: 60%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.lastsection-part2 .left{
  height: 450px;
  width: 400px;
  background-color: #F1E4FF;

  margin-left: 10%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lastsection-part2 .left img{
  height: 450px;
  width: 400px;
}


.lastsection-part2 .right{
  height: 450px;
  width: 420px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lastsection-part2 .right h3{
  font-weight: 800;
  font-size: 30px;
  line-height: 54px;
}

.lastsection-part2 .right p{
  line-height: 25px;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


.footer{
  background-color: black;
  color: white;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-left{
  height: 18vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10%;
}

.footer-left ul{
  display: flex;
}

.footer-left ul li{ 
  list-style: none;
  font-size: 16px;
  line-height: 40px;
}

.footer-left ul li a{
  color: white;
  padding: 0 8px;
  text-decoration: none;
}

.footer-left p{
top: calc(50% - 24px/2 + 73px);
color: #D9DBE1;
font-size: 14px;
line-height: 32px;
}



.footer-right{
  height: 18vh;
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-right img{
  margin: 5px;
}

.footer-right p{
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}



/* @media only screen and (min-width: 768px) {

  section{
    height: 100vh;
  }

} */
/* ////////// MEDIA QUERIES ////////////// */

@media screen and (max-width: 1440px ) {

  #services{
    height: 100vh;
  }

  #client-section{ 
    height: 130vh;
    /* height: auto; */
  }

  #lastsection{
    height: 130vh;
  }

}

@media screen and (min-width: 1440px ) {

  #services{
    height: 80vh;
  }

  #client-section{ 
    height: 115vh;
    /* height: auto; */
  }

  #lastsection{
    height: 110vh;
  }

}
